body{

    margin: 0;

}

.gatto{
    height:50px;
    width:50px;
}
        #sprite{

            width: 208.7px;

            height: 208.5px;

            background: url('hand-drawn-animation-frames-element-collection_23-2149845056.avif') 0 0;

        }
