body{

    margin: 0;

}

.estremo{

            background-color: rgb(119, 160, 255);

            height: 20vh;

            width: 100%;

            margin: 0;

        }

        .centro{

            background-color: rgb(160, 179, 232);

            float: left;

            height: 80vh;

            width: 65%;

            margin: 0.5% 0.5% 0 0.5%;

        }

        .lato{

            background-color: rgb(74, 223, 146);

            float: left;

            height: 80vh;

            width: 17%;

            margin: 0.5% 0 0.5% 0;

        }

 

 

        /* inizio centro*/

        #breadcrumb ul{

            padding-left: 1em;

        }

        #breadcrumb li{

            display: inline;

            margin-top: 2vh;

        }

        #breadcrumb li:not(:last-child):after{

            content: ">";

        }

        #banner{

            box-sizing: border-box;

            height: 14vh;

            width: 90%;

            margin: 3% 5% 0 5%;

            background-color: rgb(75, 129, 255);

            padding-top: 4vh;

            padding-bottom: 4vh;

            text-align: center;

            font-size: xx-large;

        }

        #titoli{

            background-color: rgb(119, 160, 255);

            height: auto;

            width: auto;

            margin: 2% 5%;

            float: left;

            text-align: center;

            font-size: 152%;

            padding: 2% 5%;

        }

        #articoli{

            background-color: rgb(119, 160, 255);

            height: 13vh;

            width: auto;

            padding: 2% 2%;

            margin: auto 2vh 2% 2vh;

            text-align: center;

            font-size: x-large;

            clear: both;

        }

        #articoli div{

            background-color: rgb(75, 129, 255);

            width: 10%;

            height: 4vh;

            padding: 1% 2%;

            text-align: center;

        }

        /* fine centro*/

        /* inizio upper*/

        #search{

            float: right;

            height: 3vh;

            margin: 13vh 4vh 0 1vh;

        }

        #search input{

            border-color: black;

            border-radius: 2px;

            border-width: 2px;

        }

        #Titolo{

            box-sizing: border-box;

            background-color: rgb(75, 129, 255);

            height: 10vh;

            width: fit-content;

            padding: 2vh;

            margin: 5vh 0 5vh 35%;

            text-align: center;

            float: left;

            font-size: xx-large;

        }

        #sprite{

            width: 92.8px;

            height: 90px;

            background: url('sprite (1).jpg') -10px -10px;

        }

        #Logo{

            box-sizing: border-box;

            height: fit-content;

            width: fit-content;

            padding: 0;

            float: left;

            margin: 2.5vh auto 0 2%;

        }

        /*fine upper*/

        #item h1{

            margin: 0;

        }

        #item{

            background-color: rgb(37, 251, 69);

            height: 10vh;

            width: auto;

            margin: 4vh 4vh 0 4vh;

            clear: left;

            text-align: center;

            box-sizing: border-box;

            padding-top: 2vh;

        }

        #info h1{

            margin: 0;

        }

        #info{

            box-sizing: border-box;

            padding-top: 1vh;

            background-color: rgb(37, 251, 69);

            height: 20vh;

            width: auto;

            margin: 4vh 2vh 0 2vh;

            clear: left;

            text-align: center;

        }

        #contatti{

            box-sizing: border-box;

            background-color: rgb(75, 129, 255);

            height: 10vh;

            width: 26vh;

            padding-top: 2vh;

            margin: 5vh 0 0 3vh;

            text-align: center;

            float: left;

        }

        #contatti h1{

            margin: 0;

        }

        #links{

            box-sizing: border-box;

            background-color: rgb(75, 129, 255);

            height: 10vh;

            width: 26vh;

            padding-top: 2vh;

            margin: 5vh 3vh 0 0;

            text-align: center;

            float: right;

        }

        #links h1{

            margin: 0;

        }
