<!-- Foto giocatori, premendo su di loro si vede la descrizione e altre info. stessa cosa per lo staff. Dividere stagione 23/24 e stagione 24/25. -->
gladbach: M1925K 50, Metalist 42, Balti 15, Milsami 45, Petrocub 50, Floresti 30, Petrolul 44, U Cluj 40,
NEW: M1925K 50, Metalist 36, FCSB 100, CFR 91, CSU 91, Ucluj 82, Farul 77, Dinamo 68, Petrolul 64, Balti 36, Petrocub 50, Zimbru 50, Milsami 43
romania: FCSB 82,. CFR68 CSU 42 Farul 23, Petrolul 23, Petrocub 33   Floresti 15,
napoli: Farul 46, Petrolul 29
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  color: #333;
  margin-bottom: 100px;
}

header {
  background-color: #1c1c1c;
  color: #fff;
  padding: 30px;
  text-align: center;
  border-bottom: 2px solid #333;
}

header h1 {
  font-size: 2.5em;
  margin-top: 10px;
}

header img {
  border-radius: 50%;
  margin-bottom: 20px;
}

nav {
  background-color: #333;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 10px;
  transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover {
  color: #ffce00;
  background-color: #333;
  border-radius: 5px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  transition: opacity 0.5s;
}

section h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.cent {
  text-align: center;
}

.nome {
  font-weight: bold;
}

p {
  text-align: justify;
  line-height: 1.6;
}

#Pimg {
  width: 80%;
  border-radius: 10px;
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 0.8em;
}

button {
  background-color: #ffce00;
  color: #333;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e6b800;
}

#results {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.accordion-button {
  font-size: 1.1em;
}

#adidas {
  max-height: 200px;
  margin: 10px;
  transition: transform 0.3s;
}

#adidas:hover {
  transform: scale(1.05);
}

/* Responsiveness */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-bottom: 15px;
  }

  #Pimg {
    width: 100%;
  }

  header img {
    width: 15%;
  }
}
